.outer-pokedex{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/masters/forest.jpg);
    background-attachment: fixed;
    background-size: cover;
 }

#pokedex-heading{
    letter-spacing: 1rem;
    margin:0 auto;

}

a:visited{
    color: black;
}
